<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SafeUCA Administration</title>

    <!-- Bootstrap 4 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-dark bg-dark mb-4">
        <a href="/" class="navbar-brand">SafeUCA</a>
    </nav>

    <div class="container">
        <div class="row">
            <!-- FORM -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <form action="/reports" method="POST">

                            <div class="form-group">
                                <input type="text" name="name" placeholder="Name" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="danger" placeholder="Danger" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="type" placeholder="Type" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="status" placeholder="Status" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="mailUser" placeholder="User Email" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <textarea name="description" placeholder="Description" cols="30" rows="5" class="form-control" required></textarea>
                            </div>

                            <div class="form-group">
                                <input type="number" name="lat" placeholder="Latitude" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="number" name="ltn" placeholder="Longitude" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="text" name="idZone" placeholder="ID de la Zona" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="number" name="level" placeholder="Level" class="form-control" required>
                            </div>

                            <div class="form-group">
                                <input type="file" name="image" accept="image/png, image/jpeg" placeholder="Image" class="form-control">
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">
                                Add
                            </button>

                        </form>
                    </div>
                </div>
            </div>
            <!-- LIST -->
            <div class="col-md-9">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Report ID</th>
                            <th>Name</th>
                            <th>Danger</th>
                            <th>Status</th>
                            <th>Zone ID</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < reports.length; i++) {%>
                            <tr>
                                <td>
                                    <%= reports[i]._id %>
                                </td>
                                <td>
                                    <%= reports[i].name %>
                                </td>
                                <td>
                                    <%= reports[i].danger %>
                                </td>
                                <td>
                                    <%= reports[i].status %>
                                </td>
                                <td>
                                    <%= reports[i].idZone %>
                                </td>
                                <td>
                                    <a href="/reports/delete/<%= reports[i]._id %>" class="btn btn-danger mb-1">Delete</a>
                                    <a href="/reports/edit/<%= reports[i]._id %>" class="btn btn-info">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</body>
</html>